main{
    position: relative;
    overflow: hidden;
}

.form_img{
    position: absolute;
    top: 15rem;
    right: 4rem;
}
.form_img img{
    width: 700px;
}


form{
    position: absolute;
    top: 18vh;
    left: 53.5vh;
    width: 45.3%;
    height: 63vh;
    background: linear-gradient(158deg, rgba(16, 24, 17, 0.65) 0.58%, rgba(13, 54, 18, 0.65) 99.24%);
    border-radius: 20px;
    color: rgb(228, 225, 225);
}
.form{
    padding: 35px 120px;
}

.form p{
    font-size: 23px;
    font-weight: 300;
    padding-bottom: 20px;
    text-align: center;
}
.form span{
    color: green;
}

.form_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.form_group label{
    font-size: 1.2rem;
}

.form_group input{
    width: 100%;
	font-size: 1.3rem;
	font-weight: 500;
	padding: 0.9rem;
    border: none;
	border-radius: 10px;
	margin-top: 0.3rem;
	color: rgb(218, 215, 215);
    background: rgba(10, 161, 68, 0.596);
}
input:focus,
textarea:focus{
    outline: none;
}

.form_group_full{
    grid-column: 1/3;
}

button{
    margin-top: 30px;
    width: 140px;
    height: 50px;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 2px;
    border: none;
    border-radius: 7px;
    color: rgb(240, 240, 240);
    background: linear-gradient(100.07deg, #0C7834 0%, #0B9E45 100%);
    cursor: pointer;
}

@media only screen and (max-width:1660px) {  
    .form_img{
        top: 17rem;
    }
    form{
        top: 19vh;
        left: 43.5vh;
    }
    .form{
        padding: 35px 90px;
    }
}

@media only screen and (max-width:1370px) {  
    .form_img{
        top: 18rem;
        right: 1rem;
    }
    form{
        left: 34.5vh;
        width: 48%;
    }
    .form{
        padding: 35px 70px;
    }

}

@media only screen and (max-width:1160px) {
    .form_img{
        top: 20rem;
        right: -6rem;
    }
    .form_img img{
        width: 600px;
    }
    form{
        left: 27.5vh;
        width: 50%;
    }
    .form{
        padding: 35px 50px;
    }  
}

/* mobile view start */
@media only screen and (max-width:925px) {    
    .form_img{
        top: 22rem;
        right: -11rem;
    }
    .form_img img{
        width: 500px;
    }

    form{
        top: 16vh;
        left: 35px;
        width: 90vw;
        height: 65vh;
    }

    .form{
        padding: 35px 30px;
    }
    .form p{
        font-size: 14.7px;
    }

    .form_wrapper{
        grid-template-columns: 1fr;
        gap: 0rem;
    }

    .form_group{
        padding-bottom: 0.7rem;
    }

    .form_group label{
        font-size: 1rem;
    }

    .form_group input{
        font-size: 1.1rem;
        padding: 0.6rem;
        margin-top: 0.1rem;
    }

    .form_group_full{
        grid-column: 1;
    }

    button{
        margin-top: 15px;
        width: 120px;
        height: 45px;
        font-size: 18px;
    }
}

@media only screen and (max-width:570px) {
    form{
        width: 80vw;
    }    
}
/* mobile view end */
